{# À placer dans le dépôt pidila : dev/pages/scampi/documentation/ #}

{% extends "layout/pi-subcat-scampidoc.twig" %}
{% set page = {
  title : "Nom du module",
} %}

{% block col_main %}

{% markdown "../_assets/scampi/modules/menu-simple/mon-module.md" %}{% endmarkdown %}

<div class="demo">
  <h2>Démo</h2>
  {% include "inc/styleguide/4-mon-module.twig" %}
</div>

{% endblock %}
